<!DOCTYPE html>
<html lang="en">
<head>
  <title>MyFirstTodoApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="font-sans bg-gray-100">

<div class="container mx-auto p-4">
  <div class="flex justify-between items-center mb-8">
    <%= link_to "Home", root_path, class: "text-blue-600 mr-4" %>
    <h1 class="text-2xl font-bold">My Todo App</h1>


    <div class="flex items-center">
      <% if user_signed_in? %>
        <%= link_to "Profile", edit_user_registration_path, class: "text-blue-600 mr-4" %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "bg-red-500 text-white px-4 py-2 rounded" %>
        <%= link_to "New Task", new_task_path, class: "text-green-600 ml-4" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "text-blue-600 mr-4" %>
        <%= link_to "Sign up", new_user_registration_path, class: "text-green-600" %>
      <% end %>
    </div>
  </div>

  <div class="bg-white p-6 rounded shadow">
    <p class="text-green-600"><%= notice %></p>
    <p class="text-red-600"><%= alert %></p>

    <%= yield %>
  </div>
</div>

</body>
</html>
